*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100dvh;

  margin: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}
